{% extends "index.html" %}

{% block content %}

<div class="container-fluid">
    <h1>
        Your SSLA
    </h1>

    {% if is_contract %}
    <table class="table table-borderless">
        <thead class="thead-dark">
        <tr>
            <th>Contract ID</th>
            <th>Provider ID</th>
            <th>Consumer ID</th>
            <th>Actions</th>
        </tr>
        </thead>
        {% for contract in contracts %}
        <tr>   
            <td>{{ contract.contractid }}</td>
            <td>{{ contract.providerid }}</td>
            <td>{{ contract.consumerid}}</td>
            <td>
                <a class="btn btn-primary" href="{{"/contract/"+contract.contractid}}">Details</a>
                <a href="{{"/contract/json/"+contract.contractid}}" class="btn btn-success">View JSON</a>
                <a href="{{"/contract/download/"+contract.contractid}}" class="btn btn-warning">Download</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h1>There are no contracts right now</h1>

    {% endif %}
    
    
</div>


{% endblock %}