{% extends 'index.html' %}
{% block content %}


<div class="container-fluid">
    <h1>
        Select your Security Intents
    </h1>

    {% if is_intents %}
    <form method='POST'>
        <div class="container">
                        <div class="form-outline col-xs-5 mb-4">
                            <input type="text" id="form3Example1cg" name="agreement_id" class="form-control" />
                            <label class="form-label" for="form3Example1cg">Agreement ID</label>
                        </div>

                          <div class="form-outline col-xs-5 mb-4">
                            <input type="text" id="form3Example1cg" name="ssla_name" class="form-control" />
                            <label class="form-label" for="form3Example1cg">SSLA Name</label>
                          </div>

                          <div class="form-outline col-xs-5 mb-4">
                            <input type="text" id="form3Example1cg" name="service_provider" class="text form-control" />
                            <label class="form-label" for="form3Example1cg">Service Provider</label>
                          </div>

                          <div class="form-outline col-xs-5 mb-4">
                            <input type="text" id="form3Example1cg" name="expiration_time" class="text form-control" />
                            <label class="form-label" for="form3Example1cg">Expiration Time</label>
                          </div>

                          <div class="form-outline col-xs-5 mb-4">
                            <input type="text" id="form3Example1cg" name="template_name" class="text form-control" />
                            <label class="form-label" for="form3Example1cg">Template Name</label>
                          </div>

                          <div class="form-outline col-xs-5 mb-4">
                            <input type="text" id="form3Example1cg" name="template_id" class="text form-control" />
                            <label class="form-label" for="form3Example1cg">Template ID</label>
                          </div>

                          <div class="form-outline col-xs-5 mb-4">
                            <input type="text" id="form3Example1cg" name="service_description_name" class="text form-control" />
                            <label class="form-label" for="form3Example1cg">Service Description Name</label>
                          </div>

                          <div class="form-outline col-xs-5 mb-4">
                            <input type="text" id="form3Example1cg" name="service_name" class="text form-control" />
                            <label class="form-label" for="form3Example1cg"> Service Name</label>
                          </div>

                          <div class="form-outline col-xs-5 mb-4">
                            <input type="text" id="form3Example1cg" name="resource_provider_id" class="text form-control" />
                            <label class="form-label" for="form3Example1cg">Resource Provider ID</label>
                          </div>

                          <div class="form-outline col-xs-5 mb-4">
                            <input type="text" id="form3Example1cg" name="resource_provider_name" class="text form-control" />
                            <label class="form-label" for="form3Example1cg">Resource Provider Name</label>
                          </div>

                          <div class="form-outline col-xs-5 mb-4">
                            <input type="text" id="form3Example1cg" name="resource_provider_zone" class="text form-control" />
                            <label class="form-label" for="form3Example1cg">Resource Provider zone</label>
                          </div>
        </div>
          


    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Intent ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        {% for intent in intents %}
        <tr>   
            <td>{{ intent.id }}</td>
            <td>{{ intent.name }}</td>
            <td>{{ intent.description }}</td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" name="id" value="{{intent.id}}" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Add to SSLA</label>
                  </div>
            </td>
        </tr>
        {% endfor %}
        <button type="button submit" class="btn btn-secondary">Next</button>
    </form>
    </table>
    {% else %}
        <h1>There are no Intents registered</h1>

    {% endif %}
    
    
</div>


{% endblock %}